{:otm-notes.notes/note-register {#uuid "2dfd81e2-f04b-4793-bee9-3dacea1a99f4" {:otm-notes.notes/title "Abra", :otm-notes.notes/body "Kadabra", :otm-notes.notes/tags [:magic :pokemon], :otm-notes.notes/id #uuid "2dfd81e2-f04b-4793-bee9-3dacea1a99f4"}}, :otm-notes.notes/tag-register {:magic #{#uuid "2dfd81e2-f04b-4793-bee9-3dacea1a99f4"}, :pokemon #{#uuid "2dfd81e2-f04b-4793-bee9-3dacea1a99f4"}}}